*{
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Inter', sans-serif;
}

#home {
    background-color: #F2F3F5;
    height: 100vh;
}


.xp {
    display: flex;
    color: #666666;
    justify-content: center;
    padding: 48px;
    align-items: center;
   
}
.xp #line {
    height: 4px;
    width: 845px;
    background-color: #DCDDE0;
    border-radius: 5px;
    margin: 0px 24px 0px 24px;
}

#line-green {
    height: 4px;
    width: 70%;
    background-color:#4CD62B;
    border-radius: 5px;
    animation: progress-animation 5s;

}

@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 70%}
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 135px;

}

.main {
    width: 389px;
    margin-right: 100px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img{
    height: 88px;
    width: 88px;
    margin-right: 24px;
}


.name h1 {
    color: #2E384D;
    font-size: 24px;
    margin-bottom: 8px;
    
}
.name p {
    font-size: 16px;
    align-items: center;
    display: flex;
    color: #666666;
}
.name img {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}


.chall-finish {
    display: flex;
    align-items: center;
    margin-top: 58px;
    width: 389px;
    justify-content: space-between;
}

.chall-finish h1 {
    font-size: 24px;
    font-weight: 500;
    color: #666666;
}

.chall-finish h2 {
    font-size: 24px;
    font-weight: 500;
    color: #666666;
}

.line2 {
    background-color: #D7D8DA;
    height: 2px;
    width: 389px;
    border-radius: 1.5px;
    margin-top: 18px;
}

#counter {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

#counter h1 {
   
    font-family: 'Rajdhani', sans-serif;
    font-size: 120px;
    background-color: #FFFFFF;
    height: 176px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #2E384D;
    margin: 0px 2px 0px 2px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.10);
    border: #D7D8DA 2px solid;
}


.button-start {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

}

.botao {
    transition: 1s;
}

.botao:hover {
    background-color:#4953B8;
    transition: 1s;
}

.button-start .botao2 {
    color: #666666; 
    background-color: #FFFFFF;
    transition: 1s;

}
.button-start .botao2:hover {
    color: #FFFFFF; 
    background-color: #E83F5B;
    transition: 1s;

}
.button-start .botao3 {
    color: #666666; 
    background-color: #FFFFFF;

}

.button-start button {
    padding: 32px;
    width: 100%;
    border: none;
    background-color: #5965E0;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-start img {
    margin-left: 16px;
}

.button-finish {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

}
.button-finish img {
    margin-left: 16px;
}

.button-finish button {
    padding: 32px;
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    color: #666666;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #4CD62B;
}

.button-restart {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

}

.button-restart button{
    padding: 20px;
    width: 50%;
    border: none;
    background-color: #4CD62B;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.challenges {
    background-color: #FFFFFF;
    width: 500px;
    text-align: center;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}


.challenges h1 {
    color: #666666;
    font-weight: 500;
    font-size: 24px;
    margin-top: 110px;
}



.challenges .uparrow img {
    width: 70px;
    height: 80px;
    margin-top: 150px;
    margin-bottom: 16px;
}

.challenges h2 {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}


.earnXP h1{
    color: #5965E0;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}
.line4-center {
    display: flex;
    justify-content: center;
}

.line4 {
    width: 340px;
    height: 0px;
    border: 1px solid #DCDDE0;
    margin-top: 25px;
    margin-bottom: 80px;
}

.challenges img {
    width: 140px;
    height: 112px;
    margin-bottom: -50px;
}

.exercise {
    margin-top: 50px;
}

.exercise h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 8px;
    color: #2E384D;
}


.exercise p {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 38px;
}

.button-start{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.button-failed {
    height: 50px;
    width: 174px;
    background-color: #E83F5B;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-successful {
    height: 50px;
    width: 174px;
    background-color: #4CD62B;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}


